In [87]:
# loading matches dataset
import pandas as pd

# Load your dataset
df = pd.read_excel(r"C:\Users\91789\Downloads\maches dataset.xlsx")

# Check the first few rows to understand the data
df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [88]:
df.describe()

,id,date,result_margin,target_runs,target_overs
count,1.095000e+03,1095,1076.000000,1092.000000,1092.000000
mean,9.048283e+05,2016-06-25 11:39:36.986301184,17.259294,165.684066,19.759341
min,3.359820e+05,2008-04-18 00:00:00,1.000000,43.000000,5.000000
25%,5.483315e+05,2012-04-21 00:00:00,6.000000,146.000000,20.000000
50%,9.809610e+05,2016-05-03 00:00:00,8.000000,166.000000,20.000000
75%,1.254062e+06,2021-04-13 12:00:00,20.000000,187.000000,20.000000
max,1.426312e+06,2024-05-26 00:00:00,146.000000,288.000000,20.000000
std,3.677402e+05,NaN,21.787444,33.427048,1.581108

In [89]:
#Day 2: Data Cleaning & Preprocessing
# Check for missing values in each column
missing_data = df.isnull().sum()

# Display percentage of missing values
missing_percentage = (df.isnull().sum() / len(df)) * 100
print("Missing Data (%):")
print(missing_percentage)

# If you want to see rows with missing data:
missing_rows = df[df.isnull().any(axis=1)]
print(missing_rows.head())

Missing Data (%):
id                  0.000000
season              0.000000
city                4.657534
date                0.000000
match_type          0.000000
player_of_match     0.456621
venue               0.000000
team1               0.000000
team2               0.000000
toss_winner         0.000000
toss_decision       0.000000
winner              0.456621
result              0.000000
result_margin       1.735160
target_runs         0.273973
target_overs        0.273973
super_over          0.000000
method             98.082192
umpire1             0.000000
umpire2             0.000000
dtype: float64
       id   season        city       date match_type player_of_match  \
0  335982  2007/08   Bangalore 2008-04-18     League     BB McCullum
1  335983  2007/08  Chandigarh 2008-04-19     League      MEK Hussey
2  335984  2007/08       Delhi 2008-04-19     League     MF Maharoof
3  335985  2007/08      Mumbai 2008-04-20     League      MV Boucher
4  335986  2007/08     Kolkata 2008-04-20     League       DJ Hussey

                                        venue                        team1  \
0                       M Chinnaswamy Stadium  Royal Challengers Bangalore
1  Punjab Cricket Association Stadium, Mohali              Kings XI Punjab
2                            Feroz Shah Kotla             Delhi Daredevils
3                            Wankhede Stadium               Mumbai Indians
4                                Eden Gardens        Kolkata Knight Riders

                         team2                  toss_winner toss_decision  \
0        Kolkata Knight Riders  Royal Challengers Bangalore         field
1          Chennai Super Kings          Chennai Super Kings           bat
2             Rajasthan Royals             Rajasthan Royals           bat
3  Royal Challengers Bangalore               Mumbai Indians           bat
4              Deccan Chargers              Deccan Chargers           bat

                        winner   result  result_margin  target_runs  \
0        Kolkata Knight Riders     runs          140.0        223.0
1          Chennai Super Kings     runs           33.0        241.0
2             Delhi Daredevils  wickets            9.0        130.0
3  Royal Challengers Bangalore  wickets            5.0        166.0
4        Kolkata Knight Riders  wickets            5.0        111.0

   target_overs super_over method    umpire1         umpire2
0          20.0          N    NaN  Asad Rauf     RE Koertzen
1          20.0          N    NaN  MR Benson      SL Shastri
2          20.0          N    NaN  Aleem Dar  GA Pratapkumar
3          20.0          N    NaN   SJ Davis       DJ Harper
4          20.0          N    NaN  BF Bowden     K Hariharan

In [90]:
# Fill missing values with 'Normal' (most likely meaning)
df['method'] = df['method'].fillna('Normal')
df['method']

0       Normal
1       Normal
2       Normal
3       Normal
4       Normal
         ...
1090    Normal
1091    Normal
1092    Normal
1093    Normal
1094    Normal
Name: method, Length: 1095, dtype: object

In [102]:
# Check for duplicate rows
duplicates = df[df.duplicated()]

# Drop duplicates
df = df.drop_duplicates()

In [106]:
df.shape

(1095, 20)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1095 non-null   int64
 1   season           1095 non-null   object
 2   city             1044 non-null   object
 3   date             1095 non-null   datetime64[ns]
 4   match_type       1095 non-null   object
 5   player_of_match  1090 non-null   object
 6   venue            1095 non-null   object
 7   team1            1095 non-null   object
 8   team2            1095 non-null   object
 9   toss_winner      1095 non-null   object
 10  toss_decision    1095 non-null   object
 11  winner           1090 non-null   object
 12  result           1095 non-null   object
 13  result_margin    1076 non-null   float64
 14  target_runs      1092 non-null   float64
 15  target_overs     1092 non-null   float64
 16  super_over       1095 non-null   object
 17  method           1095 non-null   object
 18  umpire1          1095 non-null   object
 19  umpire2          1095 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(1), object(15)
memory usage: 171.2+ KB

In [110]:
df.duplicated().sum()   # Number of duplicate rows

0

In [112]:
print(df.columns)                     # See raw column names
df.columns = df.columns.str.strip().str.lower()  # Clean
print(df.columns)                     # Confirm cleaned names

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')
Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')